* {
    margin: 0;
    padding: 0;
}

html {
   font-size: 62.5%;
   font-family: 'Inter', sans-serif;
   height: 100%;
}

body { 
    background: linear-gradient(240.88deg, #C1B0F8 12.52%, #FAF8ED 55.41%, #F6D0CA 92.26%);
    color: #000;
    position: fixed;
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 100px;
    width: 700px;
}

.description-title {
    font-size: 7rem;
    font-style: normal;
    font-weight: 100;
    line-height: 9rem;
}

.description-text {
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 0.09rem;
    line-height: 2.5rem;
    margin-top: 30px;
    text-transform: uppercase;
}

/* .survey { 
    display: flex;
    align-items: center;
}

label {
    display: flex;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
}

form p {
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
} */